<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
       
        $(document).ready(function(){
         
          $('#submitVoteButton').on('click', function(e) {

               $('#VoteForm').submit(function(){

                  var postData = $(this).serializeArray();
                  var formURL = $(this).attr("action");
                  $.ajax({  
                    type: "POST",  
                    url: formURL,  
                    data: postData,  
                    success: function() {  
                      console.log("Submission is successful.");  
                    }  
                  });
                  e.preventDefault(); //STOP default action
                  e.unbind(); //unbind. to stop multiple form submit.
                });
          });

    });
      
    </script>
    

    <style>
        body { 
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 10px;
          margin: 5px;
        }
        
        .navbar {
          background: AliceBlue;
          border-radius: 10px;
          margin: 10px;
        }
        
        #LogIn {  
          float: right;
          font-size: 20px;
          text-align: center;
          margin: 5px;
          border-radius: 8px;
          background: #4d79ff;
        }
        
        .well {
          background-color: AliceBlue;
          border-radius: 8px;
          margin: 5px;
        }
        
        #AppName { 
          font-size: 20px;
          font-weight: bold;
          font-style: italic;
          font-family: 'Lobster';
          text-align: left;
          color: #f44141;
          margin: 5px;
        }
    
        
        #intro {
          color: white;
          font-size: 60px;
          text-align: center;
          margin: 0;
        }
        
        #GeneralPollFrame {
          height: 100%;
          background: #1DA6BF;
          border-radius: 8px;
          margin: 10px;
        }
        
        .pollSubmit {
          background-color: transparent;
          text-decoration: underline;
          border: none;
          color: blue;
          cursor: pointer;
        }
        
        .pollSubmit:focus {
          outline: none;
        }
        
    </style>
    
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div class="container-fluid">
        <nav class="navbar navbar-static-top">
          <div class="row-fluid">
            <p class="navbar-text" id="AppName"> VoteApp </p>
            <a href="/login" class="navbar-link" id="home"> <p class="navbar-text">Home</p></a>
            
            <button type="button" class="btn btn-primary navbar-btn navbar-right" id="LogIn" onclick="window.location.href='/login'">
                Back
            </button>
       
          </div>
        </nav>
        

            <div class="well" id="GeneralPollFrame">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="well" id="PollSubmission" >
                            <p><span style="font-size:36px"><strong><%= data.Name %>? </strong></span></p>
                            <p id="Intro" style="font-size: 20px; margin: 5px"> I would like to vote for:</p>
                            
                            <form role="form" id="VoteForm" action="/poll/<%= data.id %>" >
                              <select name="optionDropdown" style="width: 50% !important; min-width: 20%; max-width: 100%; font-size: 20px; border-radius: 8px" id="Options">
                                var data = <%- data = [data.Questions,data.Votes, data.creator, data.current_user, data.id, data.Name] %>

                								<% for(var i=0;i<data[0].length;i++) {%>
                									<option name=<%=i%> value=<%=i%>><%= data[0][i] %></option>
                								<% } %>

                              </select>
                              <br><br>
                              
                              <button type="submit" id="submitVoteButton" class="btn btn-success" style="width: 20%;margin: 2px; border-radius: 8px; font-size: 14px">Send<span class="glyphicon glyphicon-send" style="font-size: 10px; margin: 2px"></span></button>
                              
                            </form>
                            
                       </div>
                    </div>

                    <div class="col-xs-7">
                        <div class="well" id="PollChart">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="text-center" id="piechartheader" style="font-size: 20px; margin: 5px"><strong>Poll Results:</strong></p>
                                    <div class="wrapper text-center">
                                        <div class="text-center" id="chart_div" style="margin: 5px"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Create Delete and social network - Twitter- sharing button -->
                            <div class="row">
                                  <div class="wrapper text-center">
                                    <div class="col-xs-6" id="del">


                          					 
                                   </div>
                                  
                                  <div class="col-xs-6">
                                    <a href='https://twitter.com/share?text=Poll: <%= data[5] %>' class="twitter-share-button" data-size="large" data-show-count="false" style="width: 15%;margin: 2px; border-radius: 16px; font-size: 16px">Tweet</a>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8" value="test"></script>
                                  </div>
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script type='text/javascript'> 
        var poll_data =<%-JSON.stringify(data)%>
    </script> 
    
    <script type="text/javascript" src="/pollHandler_client.js"></script>
    

      
  
  </body>
</html>
